.bg-forgotpassword{
    background-color: black;
    height: 100vh;
    background-image: url('background_node_project.jpg');
    background-size:contain;
    background-position:left ; 
    background-repeat: no-repeat;
}

.bg-otpverify{
    background-color: black;
    height: 100vh;
    background-image: url('project_background.jpg');
    background-size:contain;
    background-position:left ; 
    background-repeat: no-repeat;
}